<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname">First Name </label>
              <input
                id="fname"
                type="text"
                class="form-control"
                formControlName="firstName"
                required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name </label>
              <input
                id="lname"
                type="text"
                class="form-control"
                formControlName="lastName"
                required>
            </div>
            <div class="form-group">
              <label for="address">Address Name </label>
              <input
                id="address"
                type="text"
                class="form-control"
                formControlName="address"
                required>
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth </label>
              <input
                id="dob"
                type="date"
                class="form-control"
                formControlName="dob"
                required>
            </div>
            <div class="radio" *ngFor="let gender of genders">
              <label>
                <input
                  class="radio-input"
                  type="radio"
                  formControlName="gender"
                  [value]="gender"
                  required>
                {{gender}}
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="tel">Telephone No: </label>
              <input
                id="tel"
                type="number"
                class="form-control"
                formControlName="phoneNo">
            </div>
            <div class="form-group">
              <label for="email">Email Address </label>
              <input
                id="email"
                type="text"
                class="form-control"
                formControlName="email"
                required>
              <span class="help-block"
                    *ngIf="!editForm.get('email').valid && editForm.get('email').touched"
                    style="color:red;">
                    Please enter a valid email!</span>
            </div>
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input
                type="text"
                id="imagePath"
                formControlName="imgPath"
                class="form-control"
                #imagePath>
            </div>
            <img [src]="imagePath.value"
                 style="max-height: 100px;"
                 class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!editForm.valid"
            >Save
            </button>
          </div>
          <div class="col-md-2">
            <button type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>









