<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">User Management</a>
      </div>
    </div>
  </nav>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <app-user-list></app-user-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
              (click)="onSave()">Save Data
      </button>
      <button class="btn btn-primary"
              (click)="onFetch()">Fetch Data
      </button>
    </div>
  </div>
</div>-->





