<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="user.imagePath"
           alt="user.firstName"
           class="img-responsive"
           style="max-height: 200px;">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{user.firstName }} {{user.lastName}}</h1>
      <p><span><b>GENDER :  </b></span>{{user.gender}}</p>
      <p><span><b>ADDRESS :  </b></span>{{user.address}}</p>
      <p><span><b>DATE OF BIRTH :  </b></span>{{user.dateOfBirth}}</p>
      <p><span><b>CONTACT NO :  </b></span>+{{user.contactNo}}</p>
      <p><span><b>EMAIL :  </b></span>{{user.email}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <button type="button" class="btn btn-primary"
              (click)="onEdit()">Edit
      </button>

      <button type="button" class="btn btn-danger"
              (click)="onDelete()">Delete
      </button>
    </div>
  </div>
</div>


