<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form name=myForm (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fname">First Name </label>
              <input
                id="fname"
                pattern="[a-zA-Z ]*"
                type="text"
                class="form-control"
                name="firstName"
                ngModel
                #name="ngModel"
                required>
            </div>

            <div class="form-group">
              <label for="lname">Last Name </label>
              <input
                id="lname"
                type="text"
                pattern="[a-zA-Z ]*"
                class="form-control"
                name="lastName"
                ngModel
                required>
            </div>

            <div class="form-group">
              <label for="address">Address Name </label>
              <input
                id="address"
                type="textarea"
                class="form-control"
                name="address"
                ngModel
                required>
            </div>

            <div class="form-group">
              <label for="dob">Date of Birth </label>
              <input
                id="dob"
                placeholder="yyyy-MM-dd"
                type="date"
                class="form-control"
                name="dob"
                max="{{todayDate | date:'yyyy-MM-dd'}}"
                ngModel
                required>
            </div>

            <div class="radio" *ngFor="let gender of genders">
              <label>
                <input
                  class="radio-input"
                  type="radio"
                  name="gender"
                  ngModel
                  [value]="gender"
                  required>
                {{gender}}
              </label>
            </div>
          </div>



          <div class="col-md-6">

            <div class="form-group">
              <label for="tel">Telephone No: </label>
              <input
                id="tel"
                placeholder="xxx-xxxxxxx"
                type="text"
                class="form-control"
                name="phoneNo"
                minlength="10"
                maxlength="10"
                ngModel
                #phone="ngModel">

              <span class="help-block"
                    *ngIf="!phone.valid && phone.touched"
                    style="color:red;">
                    Please enter a valid Phone number!</span>
            </div>

            <div class="form-group">
              <label for="email">Email Address </label>
              <input
                id="email"
                type="text"
                class="form-control"
                name="email"
                ngModel
                email
                required
                #email="ngModel">
              <span class="help-block"
                    *ngIf="!email.valid && email.touched"
                    style="color:red;">
                    Please enter a valid email!</span>
            </div>

            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input
                type="text"
                id="imagePath"
                name="imgPath"
                ngModel
                class="form-control"
                #imagePath>
            </div>

            <img [src]="imagePath.value"
                 style="max-height: 100px;"
                 class="img-responsive">
          </div>
        </div>

        <div class="row">

          <div class="col-md-2">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!f.valid">Save
            </button>
          </div>

          <div class="col-md-2">
            <button type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>

</div>
