<div class="row">
  <div class="col-xs-12">
    <app-user *ngFor="let user of users; let i = index"
              [user]="user"
              [index]="i">
    </app-user>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewUser()">New User</button>
  </div>
</div>



