<a
  style="cursor: pointer;"
  routerLink="/users/{{index}}"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="">
    <div class="list-group-item-heading">
      <h6 class="list-group-item-text"><span class="pull-left">{{index+1}}  </span>{{user.firstName}} {{user.lastName}}
      </h6>
    </div>
  </div>
</a>
